In [13]:
# Import the libraries.
import pandas as pd
import numpy as np

# Import the CSV file.
products = pd.read_csv('products.csv')

# View the DataFrame.
products

         StockCode                        Description
0            10002         INFLATABLE POLITICAL GLOBE
1            10080           GROOVY CACTUS INFLATABLE
2            10120                       DOGGY RUBBER
3           10123C               HEARTS WRAPPING TAPE
4           10124A        SPOTS ON RED BOOKCOVER TAPE
...            ...                                ...
3940  gift_0001_20  Dotcomgiftshop Gift Voucher £20.0
3941  gift_0001_30  Dotcomgiftshop Gift Voucher £30.0
3942  gift_0001_40  Dotcomgiftshop Gift Voucher £40.0
3943  gift_0001_50  Dotcomgiftshop Gift Voucher £50.0
3944             m                             Manual

[3945 rows x 2 columns]

In [14]:
products.columns

Index(['StockCode', 'Description'], dtype='object')

In [10]:
# Question 1: How many products contain the word 'Fire' in their description? 
# lambda function to check if the word Fire appears in a product 
products[
    products['Description'].apply(lambda x:
                                 'Fire' in x.upper())
]

Empty DataFrame
Columns: [StockCode, Description]
Index: []

In [20]:
# Question 1 cont: How many products contain the word 'Fire' in their description?
# Wanted to check if the above result was correct by running a user defined function
# User defined function to check if the word Fire appears in a product 
def contains_Fire(x):
    """ does the product contain Fire in the description? """
    y = x.lower()
    return "Fire" in y

ab = products['Description'].apply(contains_Fire)

# View the DataFrame.
print(ab)

# Filter the DataFrame.
products[ab]

0       False
1       False
2       False
3       False
4       False
        ...
3940    False
3941    False
3942    False
3943    False
3944    False
Name: Description, Length: 3945, dtype: bool

Empty DataFrame
Columns: [StockCode, Description]
Index: []

In [17]:
# Question 2: How many products contain the work 'candle' in their description?
# User defined fucntion to check if candle appears in a product description
def contains_candle(x):
    """ does the product contain candle in the description? """
    y = x.lower()
    return "candle" in y

# View the output.
# Test to see if user-defined function works
print(contains_candle(x="candle"))
print(contains_candle(x="Candle"))

True
True

In [21]:
# Apply the function
cd = products['Description'].apply(contains_candle)

# View the DataFrame.
print(cd)

# Filter the DataFrame.
products[cd]

0       False
1       False
2       False
3       False
4       False
        ...
3940    False
3941    False
3942    False
3943    False
3944    False
Name: Description, Length: 3945, dtype: bool

     StockCode                         Description
83      17012A  ORIGAMI VANILLA INCENSE/CANDLE SET
84      17012B  ORIGAMI JASMINE INCENSE/CANDLE SET
86      17012D     ORIGAMI ROSE INCENSE/CANDLE SET
87      17012E    ORIGAMI OPIUM INCENSE/CANDLE SET
107     17136A      BLUE STONES ON WIRE FOR CANDLE
...        ...                                 ...
3530    85230A         OPIUM SCENTED VOTIVE CANDLE
3531    85230B      CINNAMON SCENTED VOTIVE CANDLE
3532    85230E      STRAWBRY SCENTED VOTIVE CANDLE
3533    85230F               JASMINE VOTIVE CANDLE
3534    85230G                ORANGE VOTIVE CANDLE

[178 rows x 2 columns]

In [22]:
# Question 3: How many products contain the word 'matches' in their description?
# lambda fucntion to test is matches appears in a product description
products[
    products['Description'].apply(lambda x:
                                 'matches' in x.lower())
]

    StockCode                      Description
669     21584     RETROSPOT SMALL TUBE MATCHES
670     21586  KINGS CHOICE GIANT TUBE MATCHES
671     21587     COSY HOUR GIANT TUBE MATCHES
672     21588     RETROSPOT GIANT TUBE MATCHES
673     21591      COSY HOUR CIGAR BOX MATCHES
674     21592      RETROSPOT CIGAR BOX MATCHES